.hiddencontent {
    display: none;
}

.filters_header {
    font-weight: bold;
    cursor: pointer;
}

.ui-autocomplete-loading {
background: white url("/static/images/wait.gif") right center no-repeat;
}
#city { width: 25em; }
table {
     width:100%;
}

.prof_header {
    width: 100%;
    overflow: hidden;
}
.prof_avatar {
    width: 200px;
    float:left;
}

.prof_basic {
    padding-left: 30px;
    overflow: hidden;
}

.profile {
    margin: 10px;
}

.index_search {
    padding-bottom: 20px;
}
