{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}About{% endblock %}

{% block body_block %}

<div class="container">
    
	<div class="table-responsive">

		<table class="table" border="1">

        <tr>
		<th>Name</th>
		<th>Alias</th>
		</tr>

		<tr>
		<td><a href="mailto:mousik@gmail.com">Konstantinos Kousinas </a></td>
		<td>Mousi</td>
		</tr>
		<tr>
		<td><a href="mailto:karvounis.b@gmail.com">Vangelis Karvounis</a></td>
		<td>Liverpoolas</td>
		</tr>
        <tr>
		<td><a href="mailto:qag0n@safe-mail.net">Georgios Gkavresis</a></td>
		<td>G++</td>
		</tr>
		<tr>
		<td>Athanasios Santas</td>
		<td>Enigmatikos</td>

		</tr>
		</table>

		</div>
         <address>
           <strong>UberNoobz Inc.</strong><br>
              9th Cooperage Place<br>
              Glasgow, UK G12 8QF<br>
              <abbr title="Phone">Phone:</abbr> (+44)07722786590
        </address>


</div>
{% endblock %}
