{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}About{% endblock %}

{% block body_block %}

<div class="container">
    
	<div class="table">

		<table border="0" style="width:25%">
		
        <tr>
		<th>Name</th>
		<th>Alias</th>
		</tr>
        
		<tr>
		<td><a href="mailto:mousik@gmail.com">Konstantinos Kousinas </a></td>
		<td>Mousi</td>
		</tr>
		<tr>
		<td><a href="mailto:karvounis.b@gmail.com">Vangelis Karvounis</a></td>
		<td>Liverpoolas</td>
		</tr>
        <tr>
		<td>Georgios Gkavresis</td>
		<td>Geo</td>
		</tr>
		<tr>
		<td>Athanasios Santas</td>
		<td>Enigmatikos</td>
		</tr>
		</table>
		</div>

</div>
{% endblock %}