{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Edit Profile{% endblock %}

{% block body_block %}

<div class="container">

    <h1 class="form-signin-heading">Edit Profile</h1>


    <h2 class="form-signin-heading">Please enter your personal information you want to edit</h2>
    <strong>Edit your profile here</strong>
    <form id="user_form" method="post" action="{% url 'edit_profile' %}"
          enctype="multipart/form-data">

        {% csrf_token %}

        <!-- Display each form. The as_p method wraps each element in a paragraph
        (<p>) element. This ensures each element appears on a new line,
        making everything look neater. -->

        <table>
            {{ user_form.as_table }}
            {{ prfile_form.as_table }}
        </table>

        <!-- Provide a button to click to submit the form. -->
        <button class="btn btn-lg btn-primary btn-block" type="submit">Edit</button>
    </form>

</div>
{% endblock %}
