{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}TripShare{% endblock %}

{% block body_block %}

{% if user.is_authenticated %}
<div class="page-header">

    <h1 class="text-center" >Hello, {{ user.username }}!</h1>
    {% else %}
    <h1 class="text-center" >Welcome to TripShare!</h1>
    {% endif %}

</div>

<div class="row placeholders">
    <div class="container-fluid">

        <div class="index_search">
        <div class="input-group">
            <input type="text" id="search_city" class="form-control" placeholder="Search for a city...">
            <span class="input-group-btn">
            <button class="btn btn-default" id="search_city_btn" type="button">Go!</button>
            <button class="btn btn-default" id="clear_city_btn" type="button">Clear</button>
            </span>
        </div>
            </div>

        <div class="row">

            {% for tr in trips %}

            <div class="col-xs-12 col-sm-10 col-md-12">
                <div class="thumbnail">
                    <div class="caption">
                        <h2><b>{{ tr }}</b></h2>
                        <p><b>Created by:</b>
                            {% if user.is_authenticated %}
                            <a href="{% url 'view_profile' tr.creator %}"> {{ tr.creator }}</a>
                            {% else %}
                            {{ tr.creator }}
                            {% endif %}
                        </p>
                        <p><b>Trip Date: </b> {{ tr.tripdate }}</p>
                        <p>
                            {% csrf_token %}

                            {% if user.is_authenticated %}
                            {% ifnotequal user tr.creator %}
                            {% if tr.id in requests %}
                            <button data-user="{{user.id}}" data-trip="{{tr.id}}" id="{{tr.id}}" class="btn btn-primary join disabled" type="button">Already Requested</button>

                            {% else %}
                            <button data-user="{{user.id}}" data-trip="{{tr.id}}" id="{{tr.id}}" class="btn btn-primary join" type="button">Join</button>
                            {% endif %}
                            {% else %}
                            <button class="btn btn-primary disabled" type="button">Can't join own trip!</button>

                            {% endifnotequal %}
                            {% endif %}
                            <button class="btn btn-default detailsbtn" type="button">View Details</button>
                        </p>

                        <div class="table hiddencontent">
                            <p><b>Description:</b> {{ tr.desc }}</p>
                            <table border="0">
                                {%  if tr.cost != Null %}
                                <tr>
                                    <td>Cost:</td>
                                    <td>{{ tr.cost }}</td>
                                </tr>
                                {% endif %}
                                <tr>
                                    <td>Passengers (Joined / Total): </td>
                                    <td>{{ tr.passengers }} / {{ tr.pass_num }}</td>
                                </tr>
                                <tr>
                                    <td>Date Posted</td>
                                    <td>{{ tr.dateposted }}</td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
