{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Login{% endblock %}
{% block body_block %}
    <h1 style="color:blue; text-align: center;">Post A Trip</h1>
    <div class="container">
        <form class="form-signin" method="post" >
            <h4 class="form-signin-heading">Please Provide the following information</h4>
            <form class="form-signin" method="post">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <div class="btn-group">

                        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit Trip!</button>


                        <a href="{% url 'index' %}"> <button class="btn btn-lg btn-primary btn-block" type="button" id="cancel">Cancel</button></a>
                    </label>
                </div>
            </form>
        </form>
    </div>
{% endblock %}