{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Login{% endblock %}

{% block body_block %}

<h1 style="color:blue; text-align: center;">Post A Trip</h1>

<div class="container">

    <form id="post_trip" method="post" action="{% url 'post' %}"
                enctype="multipart/form-data">

    <!--<form class="form-signin">-->
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>

    </div>

{% endblock %}