{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Register{% endblock %}

{% block body_block %}

<div class="container">

    {% if registered %}
    <h2> Thanks for registering!</h2><br />
    <a href="{% url 'index' %}">Homepage </a>

    {% else %}
    <h1 class="text-center">User Registration</h1>
    <h2 class="form-signin-heading">Please enter your personal information</h2>

    <form id="user_form" method="post" action="{% url 'register' %}"
          enctype="multipart/form-data">

        {% csrf_token %}

        <table class="table table-hover">
            {{ user_form.as_table }}
            {{ profile_form.as_table }}
        </table>

        <button class="btn btn-lg btn-primary" type="submit">Register</button>
    </form>
    {% endif %}

</div>
{% endblock %}
