{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}My Profile{% endblock %}

{% block body_block %}

<div class="container">

    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-12">
            <div class="thumbnail">
                <div class="caption">
                    <h2><b><img src="/media/{{ user_profile.avatar }}" alt="" height="200" width="200" /> {{user_viewed.first_name}} {{user_viewed.last_name}}</b></h2>
                    <input class="rating" id="input-21e" value="{{rating}}" type="number" min=0 max=5 step=1 data-size="xs" >
                    <hr>
                    <div class="row placeholders">
                        <h2><b> Username: </b> {{ user_viewed.username }}</h2>
                        <h2><b> Born: </b> {{ user_profile.dob }}</h2>
                        <h2><b> Last Seen On: </b> {{ user_viewed.last_login }}</h2>
                        <hr>
                        <h3> Trip Details </h3>
                        <hr>

                        <div class="table">
                            <table border="0" style="width:100%">
                                <tr>
                                    <td><h3><b>Latest Trips Created</b></h3></td>
                                </tr>
                                {% for trips in created_list %}
                                <tr>
                                    <td>{{ trips.source }} : {{ trips.destination }}</td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td><h3><b>Latest Trips Joined</b></h3></td>
                                </tr>

                                {% for trip in joined_list %}
                                <tr>
                                    <td>{{ trip.source }} : {{ trip.destination }}</td>
                                </tr>
                                {% endfor %}

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
