
{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}My Profile{% endblock %}

{% block body_block %}

<div class="container">

<div class="row">
			<div class="col-xs-12 col-sm-10 col-md-12">
				<div class="thumbnail">
						<div class="caption">
						
							<h2><b><img src="/media/avatars/toxic-toxic-21660071-150-150.gif" alt="User avatar" height="100" width="100" /> {{user.first_name}} {{user.last_name}}</b></h2>
							<div class="row placeholders">
							<p><b> Username: </b> {{user.username}}<p>
							<p><b> Age: </b> Place the age here</p>
							<p><b> Last Seen On: </b> Place the date here</p>

							<h2> Trip Details </h2>
							
							<div class="table">
								<table border="0" style="width:100%">
                                  <tr>
								    <td><b>Latest Trips Created</b></td>
							      </tr>
                                  {% for trips in created_list %}
                                     <tr>
                                        <td>{{ trips.source }} : {{ trips.destination }}</td>
                                     </tr>

                                  {% endfor %}

                                   <tr>
								    <td><b>Latest Trips Joined</b></td>
							       </tr>
                                    {% for trip in joined_list %}
                                     <tr>
                                        <td>{{ trip.source }} : {{ trip.destination }}</td>
                                     </tr>

                                  {% endfor %}
								</table>

								</div>
                        </div>
				</div>
			</div>
			</div>

</div>
</div>

{% endblock %}