<!DOCTYPE html>

{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}View My Profile{% endblock %}

{% block body_block %}

<div class="container">

<h1 style="text-align: center">Here are some information regarding your profile</h1>

<h2>Avatar</h2>

<p> <strong>Name:</strong> {{user.first_name}} {{user.last_name}}</p>

<p> <strong>UserName:</strong> {{ user.username }} </p>

<p> Most Visited Places </p>

<p> Favorite User to travell with </p>

<p> Last Seen on </p>

</div>

{% endblock %}