{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{% endblock %}

{% block body_block %}
{% if user.is_authenticated %}
<div class="page-header">

            <h1>Tripshare says... hello {{ user.username }}!</h1>
            {% else %}
            <h1>Tripshare says... Grapsou re malakiasmeno!</h1>
            {% endif %}
</div>

    <div class="row placeholders">
            			
	<div class="container">
      <!-- Example row of columns -->  
		<div class="row">
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<img src="..." alt="...">
						<div class="caption">
							<h3>Thumbnail label</h3>
								<p>...</p>
								<p><a href="#" class="btn btn-primary" role="button">Button1</a> <a href="#" class="btn btn-default" role="button">Button2</a></p>
						</div>
				</div>
			</div>

			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<img src="..." alt="...">
						<div class="caption">
							<h3>Thumbnail label</h3>
								<p>...</p>
								<p><a href="#" class="btn btn-primary" role="button">Button1</a> <a href="#" class="btn btn-default" role="button">Button2</a></p>
						</div>
				</div>
			</div>

			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<img src="..." alt="...">
						<div class="caption">
							<h3>Thumbnail label</h3>
								<p>...</p>
								<p><a href="#" class="btn btn-primary" role="button">Button1</a> <a href="#" class="btn btn-default" role="button">Button2</a></p>
						</div>
				</div>
			</div>
		</div>


   <!-- <p> visits: {{ visits }}</p> -->
        {% endblock %}