{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{% endblock %}

{% block body_block %}
{% if user.is_authenticated %}
<div class="page-header">

            <h1>Tripshare says... hello {{ user.username }}!</h1>
            {% else %}
            <h1>Tripshare says... Grapsou re malakiasmeno!</h1>

            {% endif %}

</div>

    <div class="row placeholders">
            			
	<div class="container">
      <!-- Example row of columns -->  
		<div class="row">
            {% for tr in trips %}
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<img src="..." alt="...">
						<div class="caption">
							<h2><b>{{ tr.source }} : {{ tr.destination }}</b></h2>
								<p><b>Created by:</b> {{ tr.creator }}.</p>
                                <p><b>Description: </b> {{ tr.desc }}</p>

								<p><a href="#" class="btn btn-primary" role="button">Join Trip!</a> <a href="#" class="btn btn-default" role="button">View Details</a></p>

                            <div class="table">

								<table border="0" style="width:100%">
								{%  if tr.cost != Null %}
                                  <tr>
									<td>Cost:</td>
									<td>{{ tr.cost }}</td>
								  </tr>
                                {% endif %}
								  <tr>
									<td>Passengers: </td>
									<td>{{ tr.pass_num }}</td>
								  </tr>

                                <tr>
									<td>Trip Date</td>
									<td>{{ tr.tripdate }}</td>
								  </tr>
                                <tr>
									<td>Date Posted</td>
									<td>{{ tr.dateposted }}</td>
								  </tr>
								</table>

								</div>
                        </div>
				</div>
			</div>


            {% endfor %}
        {% endblock %}