{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Register{% endblock %}

{% block body_block %}

<div class="container">

      <form class="form-signin" method="post">
		<h1 class="form-signin-heading" style="color:blue;">User Registration</h1>
        <h2 class="form-signin-heading">Please enter your personal information</h2>
		
   <!--     <label for="inputEmail" class="sr-only">Full Name</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Full Name" required autofocus>
		<br>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
		<br>
		<label for="inputEmail" class="sr-only">Confirm Password</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Confirm password" required autofocus>
		<br>
        <label for="inputPassword" class="sr-only">City</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="City" required>
		<br>
		<label for="inputEmail" class="sr-only">Phone number</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Phone Number" required autofocus>
		<br> -->
        {% if registered %}
          <strong> tanks for registering</strong>
          <a href="{% url 'index' %}">Homepage </a>

        {% else %}
            <strong>Register Here</strong>
           <form id="user_form" method="post" action="register/"
                enctype="multipart/form-data">

                {% csrf_token %}

                 <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
                {{ user_form.as_p }}
                {{ profile_form.as_p }}

                 <!-- Provide a button to click to submit the form. -->
                <input type="submit" name="submit" value="Register" />
           </form>
        {% endif %}





        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div>

{% endblock %}
